{{#if addNewQuestion}}
<div>
  <form>
    <label for="questionName">Question</label>
   {{input value=questionName}}

    <label for="author">Author</label>
   {{input value=author}}

   <label for="questionDetails">More Info</label>
  {{input value=questionDetails}}
   <button class="postQ"{{action 'postQuestion'}}>Post Question</button>
  </form>
  
</div>
{{else}}
<button class="newQ2"{{action "questionFormShow"}}>New Question</button>
{{/if}}
