{{#if addNewAnswer}}
  <div class="answerForm">
    <h1>Your answer</h1>
      <div>
        <form>
          <label for="author">Author</label>
          {{input value=author id="author"}}

          <label for="content">Answer</label>
          {{input value=content id="content"}}

          <button class="postAn"{{action 'postAnswer'}}>Post</button>
        </form>
      </div>
    </div>
{{else}}
  <button class="answer"{{action 'answerFormShow'}}>Answer</button>
{{/if}}
