<div id="detailsT">{{question.questionName}}</div>
<hr>
<div class="details">
  <em>{{question.questionDetails}}</em>
</div>
<hr>
<button class="deleteB"{{action 'deleteQuestion' question}}>Delete</button>
    <div class="answer2"><h1>Answers</h1></div>
    {{#each question.answers as |answer|}}
      <div class="answerList">
        <li>{{answer.content}}  <i>-{{answer.author}}</i></li>
        {{delete-answer answer=answer deleteAnswer="deleteAnswer"}}
      </div>
    {{/each}}
