{{#if updateQuestionForm}}
<h3>Edit {{question.author}}</h3>
<div>
  <form>
    <label for="questionName">Question</label>
    {{input value=questionName id="questionName" placeholder=question.questionName}}

    <label for="questionDetails">Details</label>
    {{input value=questionDetails id="questionDestails" placeholder=question.questionDetails}}

    <button {{action 'update' question}}>Save</button>
  </form>
</div>
{{else}}
<button {{action 'updateQuestionForm'}}>Edit Question</button>
{{/if}}
