<div class="newQ">
  {{new-question postQuestion="postQuestion"}}
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="question">
      <span class="postQHeader">Posted Questions</span>
      {{#each model.questions as |question|}}
      <div class="questionDets">
        <h1>{{question-popularity question}}{{#link-to 'question' question.id}}{{question.questionName}}{{/link-to}}-{{question.author}}</h1>
        <div class="row">
          <div class="col-sm-3">
            <button class="faveQ"{{action 'addFaveQ' question}}>Add</button>
          </div>
          <div class="col-sm-3">
            {{delete-question question=question deleteQuestion="deleteQuestion"}}
          </div>
          <div class="col-sm-3">
            {{update-question question=question update="update"}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="col-sm-6">
    <div class="myQuestion">
      {{my-question}}
    </div>
  </div>
</div>
<br>
